.sw_drawer {
    @include overflow(vertical);
    @include no-outline();
    background-color: $default-bg;
    z-index: $zindex-offcanvas;
    position: fixed;
    overflow-x: hidden;
    background-clip: padding-box;
    transition: 0.5s;
    &-open {margin-left: 300px;}
    &-wrapper {
        @include default-padding-large();
    }
    &-overlay {@include color-transparency(black, 0.5);}
    &-left {
         left: -300px;
         width: 300px;
         height: 100%;
         top: 0;
         &-push {margin-left: 300px; overflow-x: hidden !important;}
    }
    &-top {
        top: -100%;
        left: 0;
        width: 100%;
        transition: top 0.5s ease;
        &-open {top: 0;}
    }

    &-bottom {
        bottom: -100%;
        left: 0;
        width: 100%;
        transition: bottom 0.5s ease;
        &-open {bottom: 0;}
    }

    &-right {
         right: -300px;
         width: 300px;
         height: 100%;
         top: 0;
         &-open {right: 0;}
    }
    &-full {
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        transition: 0.5s;
        &-open {width: 100%;}
    }
}

