.sw_sidebar {
    background-color: $default-bg;
    height: 100%;
    width: 250px;
    position: fixed;

    
    &-wrapper {@include default-padding-normal();}
    &-close {width: 0;}
    &-menu {
        display: map-get($display_array, block);
        margin-bottom: .25rem;
        &-heading { 
            @include default-font-smaller();
            margin-bottom: 1rem;
        }
    }
    &-link {
        display: map-get($display_array, block);
        font-size: var(--normal-fontsize);
    }
    & .sw_dropdown-content { 
        position: static;
        margin-left: .25rem;
        box-shadow: none !important;
    }
    &-fixed {
        position: fixed;
        z-index: $zindex-offcanvas;
        top: 0;
    }
    &-scroll-y {@include overflow(vertical);}
    &-nav {
        margin-top: 1rem;
        &.nav-indent{
            .sw_sidebar-menu {
                padding-left: 1rem;
            }
        }
    }
    &-left {
        left: 0;
        &-push {margin-left: 250px; overflow-x: hidden !important;}
    }
    &-right {
        right: 0;
        &-push {margin-right: 250px; overflow-x: hidden !important;}
    }
    & .sw_dropdown-toggler-icon::after {
        @include square(7px);
        @include transform(rotate, 223deg, 0, -50%);
        @include transition(all, 0.3, ease-out);
        position: absolute;
        content: "";
        border-width: 2px 0 0 2px;
        border-style: solid;
        border-color: inherit;
        margin-left: 10px;
        right: 15px;
        
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    &-styled {@include styled();}

    &-large {width: 275px;}
    &-larger {width: 300px;}
    &-largest {width: 325px;}
}