:root {
    --wrapper-padding: 10px;
    --navbar-menu-padding: 0 .5rem;
    --popover-header-padding: 0.5rem 1rem;
    --tab-wrapper-padding: 1.25rem .75rem 0 .75rem;
    --tab-menu-padding: 0.5rem .3rem;
    
    --largest-round-padding: 25px 30px;
    --larger-round-padding: 20px 24px;
    --large-round-padding: 16px 19px;
    --normal-round-padding: 13px 15px;
    --small-round-padding: 10px 11px;
    --smaller-round-padding: 8px 9px;
    --smallest-round-padding: 6px 7px;

    --smallest-padding: .1rem .3rem;
    --smallest-fontsize: .5rem;

    --smaller-padding: .15rem .4rem;
    --smaller-fontsize: .6rem;

    --small-padding: .25rem .5rem;
    --small-fontsize: .7rem;

    --normal-padding: .5rem .75rem;
    --normal-fontsize: .85rem;

    --large-padding: .75rem 1rem;
    --large-fontsize: 1rem;

    --larger-padding: 1rem 1.25rem;
    --larger-fontsize: 1.15rem;
 
    --largest-padding: 1.25rem 1.5rem;
    --largest-fontsize: 1.3rem;

    --normal-icon-padding: 0.375rem 0.75rem;

    --font-san-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

